.section {
  margin: 0;

}

.banner {
  background-image: url('http://cdn29.us1.fansshare.com/images/tumblrpictures/summer-beach-background-tumblr-summer-1781191238.jpg');
  background-size: cover;
}

.container {

  max-width: 60rem;
  margin: auto;

}
