.section {
  margin: 0;

}

.banner {
  background-image: url('http://media.istockphoto.com/photos/abstract-blue-background-picture-id478985058?k=6&m=478985058&s=170667a&w=0&h=OVed_5p0yljMLKlsJikpoWAwRLb3V2r6_C0ualmOfrw=');
  background-size: cover;
}

.container {

  max-width: 60rem;
  margin: auto;

}
