// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
// @import 'box-sizing';
// @import 'section';
// @import 'top';

$c-primary: #2f73c2;
$c-secondary: #2381b5;
$c-aside: #49d6df;
$c-section-border: #eee;
$c-white: #fff;
$c-black: #383633;
$c-grey-text: #c6c8c6;
$c-dark-grey: #585757;

body {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

* {
  font-family: 'Open Sans Condensed', sans-serif;
  box-sizing: border-box;
  // border: 1px solid black;
}

.section {
  margin: 0;

}

.banner {
  background-image: url('http://media.istockphoto.com/photos/abstract-blue-background-picture-id478985058?k=6&m=478985058&s=170667a&w=0&h=OVed_5p0yljMLKlsJikpoWAwRLb3V2r6_C0ualmOfrw=');
  background-size: cover;
}

.container {

  max-width: 60rem;
  margin: auto;

}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__left {
    margin: 0;
    font-family: sans-serif;

  }

  &__right {
    font-family: sans-serif;
  }
}

.wave-img {
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
}

.wave-text {
  margin: 0;
}

.wave {
  width: 5rem;
  height: 5rem;
  vertical-align: middle;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  width: 10rem;
  padding-left: 0;

  &__item {
    display: inline;
}
}

.hero {
  padding-bottom: 4rem;

  &__title {
    margin: 0;
    color: $c-black;
    font-size: 8rem;
    text-align: center;
    text-transform: uppercase;
  }

  &__subtitle {
    margin: 0;
    font-size: 1rem;
    text-align: center;
    opacity: 0.5;
  }
}

.section__main {
  margin: 0;

}

.container__main {
  display: flex;
  max-width: 65rem;
  margin: auto;
  padding: 2.5rem;
}

.article__left {
  width: 68%;
  padding-right: 3rem;

  &-text {
    color: $c-dark-grey;
    font-size: 1rem;
    font-weight: bolder;
  }

  &-headline {
    margin: 0;
    padding: 3rem 0;
    border-top: 1px solid $c-section-border;
    color: $c-primary;
    font-size: 5rem;
    line-height: 5rem;
    text-align: center;
    text-transform: uppercase;
  }

  &-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
  }
}

.small {

  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;

}

.article__author {
  display: flex;

  color: $c-primary;
  // random flex box?^^^
}

.grey-text {
  float: right;
  color: $c-grey-text;
}

.time {
  text-decoration: underline;

}

.article__right {
  width: 32%;
}



.aside {
  margin: 1rem;
  padding-left: 1rem;
  border-left: 2px solid $c-grey-text;
  color: $c-aside;
  font-size: 2.5rem;
}

.main__span-1 {
  color: $c-grey-text;
  text-decoration: underline;
}

.main__span-2 {
  color: $c-secondary;
  text-decoration: underline;
}

.side-box {
  margin: 3rem 0;
}

.bio__pic {
  padding-top: 2rem;
  text-align: center;

  &-img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
  }
}

.bio__name {
  margin: 0;
  color: $c-primary;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
}

.social-link-list {
  display: flex;
  justify-content: center;
  text-align: center;

  &__item {
    padding: 0 0.4rem;
    border-left: 1px transparent solid;
  }

  > * + * {
    border-left-color: $c-section-border;
  }

}

.social__link {
  color: $c-section-border;
}

.side-ad {
  margin: 1rem 0;
}

.side-ad__info {
  float: right;
  color: $c-grey-text;

}

.side__article-heading {
  margin-top: 0 0 0.25rem 0;

  color: $c-secondary;
}

.side__article-text {
  margin: 0;
  color: $c-grey-text;
}

.side__article-span {
  text-decoration: underline;
}

.footer {
  display: flex;
  position: relative;
  width: 100%;
  height: 20rem;

  &__text {
    position: absolute;
    bottom: 0;
    left: 1rem;
    margin: 0;
    color: $c-white;
    font-size: 3rem;
    font-weight: bold;
  }
}

.footer__item {
  position: relative;
  flex-basis: calc(100% / 4);

  &-pic {
    height: 100%;
  }
}

footer {
  margin: 0;
  background: $c-primary;
}

.baseline {
  display: flex;
  justify-content: space-between;
  max-width: 60rem;
  margin: auto;
  color: $c-white;

  &__left {
    display: flex;
  }

  &__logo {
    width: 4rem;
    height: 4rem;

  }
}
